
.navbar {
   background-color: darkblue;
}

.navbar {
   background-color: darkblue;
}

.navbar-brand img {
   width: 30px;
   height: 30px;
   margin-right: 10px;
}

.navbar-nav {
   margin-left: auto;
}

.nav-link:hover {
   font-weight: bold;
}

#carouselExample {
   width: 100vw;
   max-width: 100%;
   overflow: hidden;
}

.carousel-inner {
   height: 100vh;
}

.carousel-item {
   height: 100vh;
   object-fit: cover;
}

.carousel-item img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.carousel-caption {
   margin-bottom: 40px;
}

.navbar {
   background-color: darkblue;
}

.navbar-brand img {
   width: 30px;
   height: 30px;
   margin-right: 10px;
}

.navbar-nav {
   margin-left: auto;
}

#carouselExampleCaptions {
   max-width: 100%;
   overflow: hidden;
}

.carousel-inner {
   max-height: calc(100vh - 56px);
   /* Adjust the value according to your navbar height */
}

.carousel-item {
   max-height: calc(100vh - 56px);
   /* Adjust the value according to your navbar height */
}

.carousel-item img {
   object-fit: cover;
   width: 100%;
   max-height: calc(100vh - 56px);
   /* Adjust the value according to your navbar height */
}

.carousel-caption {
   margin-bottom: 40px;
}

.slide-2 {
   color: darkblue;
}


.display-9 {
   color: darkblue;
}

.card-title {
   color:darkblue;
}

.card-footer {
   background-color: blue;
   color: white;
}


.card {
  background: none;
  border: none;
}

.social-icon {
  font-size: 20px;
  color: #666;
  margin: 0 5px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff;
}

#num {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

#num:hover {
  color: #007bff;
}
